/* .main-content {
    padding-top: 10px;
    height: calc(100vh - 112px);
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
} */

.profile {
    display: flex;
    margin-top: 10px;
}

.img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: teal;
    margin: 0 15px;
}

.img h3 {
    margin: auto;
    color: #FDFEFF;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 6;
}

.menu {
    border-top: 1px solid #F4F4F4;
    margin-top: 20px;
    padding: 15px;
}

.btn-logout {
    width: 100%;
    /* flex-direction: column; */
    /* margin: 0 15px 10px 15px; */
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #EA001F;
    border-radius: 50px;
    box-sizing: border-box;
    outline: none;
    color: #EA001F;
    font-weight: bold;
}

.btn-logout:active {
    background-color: #EA001F;
    color: #FDFEFF;
}

.floating-icon {
    padding: 10px;
    flex: 1;
    flex-direction: row;
    /* align-self: flex-end; */
}